@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto:300i');
/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

h1, h3 {
  font-family: 'Merriweather', serif;
}

fieldset {
  width: 350px;
}

input {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0px;
  width: 250px;
  font-size: 0.8em;
}

::placeholder {
  color: red;
}
